---
path: "/.well-known/brave-rewards-verification.txt"
date: "2019-06-06"
title: "Brave Rewards Publisher Verification File"
---

This is a Brave Rewards publisher verification file.

Domain: csb-m4nxl93koj.netlify.com
Token: 1bb506b661cc1e5561338e651d448be3fe19b857ff802bdacfc3d7ee2465512b
